<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
	    <center><b><a class="navbar-brand" href="/">Money Bill Recognition for Visually Imparied People</a></b></center>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <!-- <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Indian Food : 7 Classes</a></li>
                  <li><a href="#">Indian Food : 5 Classes</a></li>
                  <li><a href="#">Western Food : 5 Classes</a></li>
                </ul>
	      </li> -->
	    </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
